body{padding:10px;}
h1 {color: #C8102E;}

label.error {
    color: #a94442;
}
input.error {
    outline:2px solid #a94442;
}
.form-check {position:relative;}
.form-check label.error {
    display: none !important;
}

